*.bin
*.csv
*.pyc
NLP/venv/
NLP/basic_premium_nlp/transformer/results/
NLP/basic_premium_nlp/transformer/tinybert_symptoms_classifier/
NLP/basic_premium_nlp/transformer/tinybert_symptoms_classifier_tokenizer/
NLP/basic_premium_nlp/vsm/GoogleNews-vectors-negative300.bin
MLTraining/venv/
MLTraining/macos_venv/
MLTraining/big_dataset/huggingface_dataset/
MLTraining/big_dataset/preprocessed_dataset/
MLTraining/big_dataset/__pycache__
MLTraining/big_dataset/aux
MLTraining/big_dataset/saved_models/
MLTraining/small_dataset/lrPrognosisModel.joblib
MLTraining/small_dataset/mlpPrognosisModel.joblib
MLTraining/small_dataset/svdPrognosisModel.joblib
MLTraining/small_dataset/xgbPrognosisModel.joblib
